service: user-service
 
provider:
  name: aws
  runtime: nodejs16.x
  stage: ${opt:stage, 'dev'}
  region: ap-south-1
  environment:
    NODE_ENV: ${self:provider.stage}
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
      Resource: '*'
functions:
  userSubmission:
    handler: api/user.submit
    memorySize: 128
    description: Submit user information.
    events:
      - http: 
          path: user
          method: post
  getUserById:
    handler: api/user.getById
    memorySize: 128
    description: get user by Id
    events:
      - http: 
          path: user/{id}
          method: get 

resources:
  Resources:
    userTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: user
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST